* {
    margin: auto;
    border: none;
    box-sizing: border-box;
}

body {
    margin: 5% 30%;
}

#title {
    grid-area: title;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
    background-color: lightgray;
    border-radius: 2px;
    width: min-content+30px;
    text-align: center;
    padding: 10px 30px;
}

#calc-outer {
    display: grid;
    grid-template-areas:
        "title" 
        "display"
        "buttons";
    justify-items: center;
    max-width: 500px;
}

#calc-display {
    grid-area: display;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(230,230,230);
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 20px;
    padding: 5px;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 1.5em;
}

#calc-buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "t7 t8 t9 backspace clear"
        "t4 t5 t6 multiply divide"
        "t1 t2 t3 add subtract"
        "t0 t0 decimal operate operate";
    background-color: rgb(126, 126, 126);
    width: 100%;
    /* margin-top: 5%; */
    
}

.button-num {
    margin: 5px;
    font-size: 1.5em;
    padding: 30px;
    background-color: buttonface;
    text-align: center;
    text-justify: center;
}